# üçø Aanbevelingen gebaseerd op gemiddelde beoordelingen
In dit notebook berekenen we de gemiddelde beoordeling voor elke film in onze dataset. Dit geeft inzicht in hoe goed elke film gemiddeld wordt ontvangen en helpt ons niet alleen de meest populaire films te identificeren, maar ook films met een hogere gebruikerswaardering. Door de gemiddelde beoordelingen te begrijpen, kunnen we aanbevelingen prioriteren voor films die zowel populair als goed beoordeeld zijn.

### 1. Bereken de gemiddelde beoordelingen

In [2]:
# Import the pandas library
import pandas as pd

# Load the ratings data into a DataFrame
df = pd.read_csv('data/ratings.csv')

# Group the data by 'movieId' and calculate the average rating for each movie
df = df.groupby('movieId')['rating'].mean().reset_index()
# Code goes here

# Rename the 'rating' column to 'average_rating' for clarity
df = df.rename(columns={'rating': 'average_rating'})
# Code goes here

# Sort the DataFrame by average rating in descending order
df = df.sort_values(by = 'average_rating', ascending=False)
# Code goes here

# Display the DataFrame with average ratings
df
# Code goes here

      movieId  average_rating
7638    88448             5.0
8089   100556             5.0
9065   143031             5.0
9076   143511             5.0
9078   143559             5.0
...       ...             ...
9253   157172             0.5
7536    85334             0.5
6486    53453             0.5
5200     8494             0.5
7145    71810             0.5

[9724 rows x 2 columns]

### 2. Sla de aanbevelingen op
"Kies de top 10 op basis van beoordelingen en sla deze op als `recommendations-ratings-avg.csv`, waarbij je het bestaande bestand in de app-directory vervangt. Zorg ervoor dat het bestand de kolommen `movieId;mean` bevat. Nadat je het hebt opgeslagen, kun je Streamlit vernieuwen om de resultaten te zien."

In [3]:
# Code goes here
df.to_csv('app/recommendations/recommendations-ratings-avg.csv')

### 3. Reflecteer op de aanbevelingen
Bekijk de gemiddelde beoordeling en het aantal beoordelingen voor de top 10 films. Denk na over waarom het uitsluitend gebruiken van gemiddelde beoordelingen niet de beste methode is voor aanbevelingen.