# üçø Aanbevelingen gebaseerd op Vaak Samen Beoordeeld (frequentie)

In dit notebook verkennen we filmassociaties op basis van gebruikersgedrag door paren van films te identificeren die vaak door dezelfde gebruikers zijn beoordeeld. Dit kan verborgen relaties tussen films onthullen en ons helpen inzicht te krijgen in gebruikersvoorkeuren en mogelijke overeenkomsten tussen films die op het eerste gezicht misschien niet duidelijk zijn.

Door te onderzoeken welke films samen worden beoordeeld, kunnen we:

- Associaties tussen films identificeren op basis van gebruikersinteracties.
- Inzichten genereren voor mogelijke aanbevelingen aan gebruikers die al een van de films in een vaak beoordeeld paar hebben bekeken.
- De basis leggen voor collaborative filtering-technieken, die gebruik maken van gebruikersgedrag om gerelateerde films aan te bevelen.

Het proces omvat:

1. Het groeperen van onze data per gebruiker om lijsten van films te verkrijgen die ze hebben beoordeeld.
2. Het genereren van unieke paren van films die elke gebruiker heeft beoordeeld.
3. Het tellen van de frequentie van elk paar over alle gebruikers om de meest voorkomende combinaties te vinden.

Aan het einde van dit notebook hebben we een lijst van filmparen, samen met het aantal keren dat elk paar samen werd beoordeeld. Dit geeft ons inzichten in filmassociaties op basis van gebruikersgedrag. Deze data kan dienen als basis voor verdere aanbevelingsalgoritmen en biedt een collaborative filtering-benadering om gerelateerde films aan te bevelen.

### 1. Korte introductie tot permutaties
Gebruik de functie `permutations` uit `itertools` om combinaties van boeken te maken die vaak samen worden beoordeeld.

In [ ]:
from itertools import permutations 

# items bought together
items = ['milk', 'bread', 'eggs']

# this code creates sets of 2 items from the itemset above
list(permutations(items, 2))

### 2. Tel de combinaties van samen beoordeelde films
Maak combinaties met `permutations` en tel hoe vaak elke combinatie voorkomt. Dit proces kan veel tijd kosten, afhankelijk van je initi√´le data-analyse.

In [1]:
# Import the pandas library
import pandas as pd
from itertools import permutations 

# Load the ratings data
df = pd.read_csv('data/ratings.csv')

def create_combinations(x):
  combinations = pd.DataFrame(list(permutations(x.values, 2)), columns=['movie_a','movie_b'])    
  return combinations

# use the function to create combinations
book_combinations = df.groupby('userId')['movieId'].apply(create_combinations) 

book_combinations = book_combinations.reset_index(drop=True)

# count the combinations
combinations_counts = book_combinations.groupby(['movie_a', 'movie_b']).size()
combinations_counts = combinations_counts.to_frame(name = 'count').reset_index()

In [2]:
combinations_counts.sort_values('count', ascending=False).head(10)

         movie_a  movie_b  count
1159332      356      318    231
1016695      318      356    231
1159313      356      296    230
947678       296      356    230
947641       296      318    222
1016642      318      296    222
1908623      593      296    207
947871       296      593    207
1159559      356      593    199
1016885      318      593    199

### 3. Sla de aanbevelingen op
Gezien de mogelijke omvang van de output, beperk het CSV-bestand tot de top 10 aanbevelingen per boek. Sla dit op als `recommendations-seeded-freq.csv` en werk het bestand bij in de app-directory. Vergeet niet om het codeblok dat bij deze stap hoort in te schakelen als het eerder was uitgecommentarieerd.

In [3]:
combinations_counts = combinations_counts.sort_values('count', ascending=False)

# only select top 10 per combination
df1 = combinations_counts.sort_values('count', ascending = False).groupby('movie_a').head(10)

df1.to_csv('recommendations-seeded-freq.csv')